subflow.json
{
    "id": "dea048108c92d7cf",
    "type": "subflow",
    "name": "chart",
    "info": "Plotly.js chart template.\r\n\r\nCreates Plotly-chart inside ui-template.\r\n\r\nUse\r\n- \"create\"-node to create chart\r\n- \"add\"-node to add data chart ",
    "category": "Plotly",
    "in": [
        {
            "x": 80,
            "y": 140,
            "wires": [
                {
                    "id": "b24e5190e3a30e55"
                }
            ]
        }
    ],
    "out": [
        {
            "x": 1150,
            "y": 140,
            "wires": [
                {
                    "id": "115a55d62f6f592e",
                    "port": 0
                }
            ]
        }
    ],
    "env": [
        {
            "name": "chart_name",
            "type": "str",
            "value": "",
            "ui": {
                "label": {
                    "en-US": "Chart name"
                },
                "type": "input",
                "opts": {
                    "types": [
                        "str"
                    ]
                }
            }
        },
        {
            "name": "group",
            "type": "ui-group",
            "value": "",
            "ui": {
                "type": "conf-types"
            }
        },
        {
            "name": "add_msg_delay",
            "type": "num",
            "value": "200",
            "ui": {
                "label": {
                    "en-US": "Output msg delay"
                },
                "type": "input",
                "opts": {
                    "types": [
                        "num"
                    ]
                }
            }
        }
    ],
    "meta": {
        "module": "tequ-node-red-plotly-chart",
        "version": "0.2.0",
        "author": "juha.autioniemi@lapinamk.fi",
        "desc": "Dashboard 2.0 Plotly chart template.",
        "license": "MIT"
    },
    "color": "#3FADB5",
    "inputLabels": [
        "From create node"
    ],
    "outputLabels": [
        "To add node"
    ],
    "icon": "font-awesome/fa-area-chart",
    "status": {
        "x": 1100,
        "y": 200,
        "wires": [
            {
                "id": "7978a8ba47af896d",
                "port": 0
            }
        ]
    },
    "flow": [
        {
            "id": "7978a8ba47af896d",
            "type": "status",
            "z": "dea048108c92d7cf",
            "name": "",
            "scope": null,
            "x": 780,
            "y": 200,
            "wires": [
                []
            ]
        },
        {
            "id": "e13139de5004a0af",
            "type": "ui-template",
            "z": "dea048108c92d7cf",
            "group": "${group}",
            "page": "",
            "ui": "",
            "name": "Plotly chart template",
            "order": 0,
            "width": "6",
            "height": "8",
            "head": "",
            "format": "<template>\n    <div class=\"plotlyChart\" id=\"\"></div>\n</template>\n<script>\n    const template_dom_id = this.id\n\n    this.$socket.on('msg-input:' + this.id, function(msg) {          \n        let chart_dom_id = msg.chart_name;\n        let selector = \"#nrdb-ui-widget-\"+template_dom_id+\" > div\"\n        let dom_element = document.querySelector(selector);\n        dom_element.attributes.id.value = chart_dom_id;\n    })\n</script>",
            "storeOutMessages": true,
            "passthru": true,
            "resendOnRefresh": true,
            "templateScope": "local",
            "className": "",
            "x": 420,
            "y": 140,
            "wires": [
                [
                    "951dd160a4453d26"
                ]
            ]
        },
        {
            "id": "115a55d62f6f592e",
            "type": "function",
            "z": "dea048108c92d7cf",
            "name": "Fmt output",
            "func": "let id = msg.chart_name;\n\nmsg.delay = env.get(\"add_msg_delay\") || 200;\n\n/*\nmsg.payload = {\n    \"id\":id,\n    \"name\":env.get(\"chart_id\")\n}\n*/\n\nnode.status({ fill: \"blue\", shape: \"dot\", text: msg.status_ts +\" \"+id + \" created\"});\n\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 770,
            "y": 140,
            "wires": [
                []
            ]
        },
        {
            "id": "b24e5190e3a30e55",
            "type": "function",
            "z": "dea048108c92d7cf",
            "name": "Check input",
            "func": "if(\"chart_name\" in msg){\n    //pass\n}\nelse{\n    msg.chart_name = env.get(\"chart_name\")\n}\nreturn msg;",
            "outputs": 1,
            "timeout": 0,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 210,
            "y": 140,
            "wires": [
                [
                    "e13139de5004a0af"
                ]
            ]
        },
        {
            "id": "951dd160a4453d26",
            "type": "moment",
            "z": "dea048108c92d7cf",
            "name": "ts",
            "topic": "",
            "input": "",
            "inputType": "date",
            "inTz": "ETC/UTC",
            "adjAmount": 0,
            "adjType": "days",
            "adjDir": "add",
            "format": "HH:mm:ss",
            "locale": "en-US",
            "output": "status_ts",
            "outputType": "msg",
            "outTz": "Europe/Helsinki",
            "x": 610,
            "y": 140,
            "wires": [
                [
                    "115a55d62f6f592e"
                ]
            ]
        },
        {
            "id": "e1424852654e27ba",
            "type": "delay",
            "z": "dea048108c92d7cf",
            "name": "",
            "pauseType": "delay",
            "timeout": "200",
            "timeoutUnits": "milliseconds",
            "rate": "1",
            "nbRateUnits": "1",
            "rateUnits": "second",
            "randomFirst": "1",
            "randomLast": "5",
            "randomUnits": "seconds",
            "drop": false,
            "allowrate": false,
            "outputs": 1,
            "x": 970,
            "y": 140,
            "wires": [
                []
            ]
        },
        {
            "id": "05cde3d3eda35935",
            "type": "subflow:dea048108c92d7cf",
            "z": "c49b3020b5a4b737",
            "name": "",
            "env": [
                {
                    "name": "group",
                    "value": "",
                    "type": "conf-type"
                }
            ],
            "x": 430,
            "y": 320,
            "wires": [
                []
            ]
        },
        {
            "id": "1a88e1ede0424bd8",
            "type": "global-config",
            "env": [],
            "modules": {
                "@flowfuse/node-red-dashboard": "1.27.1",
                "node-red-contrib-moment": "5.0.0"
            }
        }
    ]
}